body {
  background-color: turquoise;
  background-image: url("../images/repeated-square/repeated-square.png");
  background-size: auto;
  background-repeat: repeat;
  z-index: -1;
  object-position: center;
}

h1 {
  margin: 20px;
  font-weight: bold;
  font-size: larger;
  padding: 20px;
  width: fit-content;
  background-color: orchid;
  color: white;
}

p {
  padding: 5px;
}

#instructions {
  color: green;
  background-color: gold;
  margin: 20px;
  padding: 5px;
  width: fit-content;
}

#random-number {
  float: left;
  color: orchid;
  font-size: 120px;
  background-color: green;
  margin: 20px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

img {
  float: left;
  height: 200px;
  width: 200px;
  margin: 20px;
}

#scoreboard {
  float: left;
  background-color: cyan;
  padding: 5px;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-size: 30px;
}

#total-score {
  margin: 20px;
  width: 200px;
  height: fit-content;
  padding: 5px;
  background-color: teal;
  color: white;
  font-size: 30px;
}

#score {
  margin: 20px;
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: teal;
  color: white;
  font-size: 120px;
}
